.form-label {
    font-weight: bold;
}

body > footer time {
    font-weight: bold;
}

.primary-key {
    font-weight: bold;
}

tfoot {
    font-weight: bold;
}

.info-column-name {
    font-weight: bold;
}

.text-justified-limit {
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    max-width: 1000px;
}
