.form-label {
    font-weight: bold;
}

body > footer time {
    font-weight: bold;
}

.primary-key {
    font-weight: bold;
}

tfoot {
    font-weight: bold;
}

.info-column-name {
    font-weight: bold;
}
